In [76]:
import numpy as np
import pandas as pd

In [77]:
purchase_data=pd.read_csv("resources/purchase_data.csv")
purchase_data.head()

,SN,Age,Gender,Item ID,Item Name,Price
0,Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Male,174,Primitive Blade,2.46
3,Pheusrical25,21,Male,92,Final Critic,1.36
4,Aela59,23,Male,63,Stormfury Mace,1.27

# Player Count

In [78]:
#player count
player_count = purchase_data['SN'].nunique()
player_count

573

# Purchasing Analysis

In [20]:
#Number of Unique Items - by Item ID (This is true Item Count)
itemCount = purchase_data['Item ID'].nunique()
itemCount

183

In [21]:
#Number of Unique Items - by Item Name, for validation purposes only
itemNameCount = purchase_data['Item Name'].nunique()
itemNameCount

179

In [23]:
#Average Purchase Price
averagePrice = purchase_data['Price'].mean()
averagePrice

2.931192307692303

In [24]:
#Total Number of Purchases
purchaseCount = len(purchase_data)
purchaseCount

780

In [25]:
#Total Revenue
totalRevenue = purchase_data['Price'].sum()
totalRevenue

2286.33

# Gender Demographics

In [48]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

In [49]:
gender_df = purchase_data.drop_duplicates(subset='SN')
Total = gender_df["Gender"].count()
Male_count = gender_df["Gender"].value_counts()['Male']
Female_count = gender_df["Gender"].value_counts()['Female']
Unknown_count = gender_df["Gender"].value_counts()['Other / Non-Disclosed']

Male_percent = (Male_count / Total) * 100
Female_percent = (Female_count / Total) * 100
Unknown_percent = (Unknown_count / Total) * 100

# Create new DataFrame
final_gender_df = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                            "Percent of Total": [Male_percent, Female_percent, Unknown_percent],
                            "Player Count": [Male_count, Female_count, Unknown_count]})

final_gender_df["Percent of Total"] = final_gender_df["Percent of Total"].map("{:.2f}%".format)
final_gender_df = final_gender_df.set_index('')
final_gender_df

                    Percent of Total  Player Count

Male                          81.15%           465
Female                        17.45%           100
Other/Non-Disclosed            1.40%             8

# Purchasing Analysis (Gender)

In [12]:
#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals

In [58]:
# Run basic calculations
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

normalized_total = gender_purchase_total / final_gender_df["Player Count"]

gender_data = pd.DataFrame({"Purchase Count": gender_counts, "Average Purchase Price": gender_average, "Total Purchase Value": gender_purchase_total, "Normalized Totals": normalized_total})

gender_data["Average Purchase Price"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)
gender_data["Total Purchase Value"] = gender_data["Total Purchase Value"].map("${:,.2f}".format)
gender_data ["Purchase Count"] = gender_data["Purchase Count"].map("{:,}".format)
gender_data["Normalized Totals"] = gender_data["Normalized Totals"].map("${:,.2f}".format)
gender_data = gender_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]

gender_data.head(3)

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Female,136.0,$2.82,$382.91,$3.83
Male,633.0,$2.95,"$1,867.68",$4.02
Other / Non-Disclosed,11.0,$3.25,$35.74,$nan

# Age Demographics

In [59]:
#The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals

In [60]:
#initialize bins
bins = [0,10,15,20,25,30,35,40,200]
binGroup = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

bin_df = purchase_data.copy()
bin_df["Age Groups"] = pd.cut(bin_df["Age"], bins, labels=binGroup)
group_bin = bin_df.groupby(["Age Groups"])

# Data manipulation
bin_count = group_bin["SN"].count()
countTotal = bin_df["SN"].count()
percentage = (bin_count / countTotal) * 100
percentage

# Create new DataFrame
age_percent = pd.DataFrame({"Total Count": bin_count,
                         "Percentage of Players": percentage})

# DataFrame formatting
age_percent["Percentage of Players"] = age_percent["Percentage of Players"].map("{:.2f}%".format)
age_percent

            Total Count Percentage of Players
Age Groups
Under 10             32                 4.10%
10 - 14              78                10.00%
15 - 19             184                23.59%
20 - 24             305                39.10%
25 - 29              76                 9.74%
30 - 34              58                 7.44%
35 - 39              44                 5.64%
Over 40               3                 0.38%

# Top Spenders

In [16]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

In [61]:
player_purchase_count = purchase_data.groupby("SN").count()["Price"].rename("Purchase Count")
player_average_spend = purchase_data.groupby("SN").mean()["Price"].rename("Average Purchase Price")
players = purchase_data.groupby("SN").sum()["Price"].rename("Total Purchase Value")

total_user_data_df = pd.DataFrame({"Purchase Count":player_purchase_count,
                                   "Average Purchase Price": player_average_spend,
                                   "Total Purchase Value": players})

top_spenders = total_user_data_df.sort_values("Total Purchase Value", ascending=False)
top_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Undirrala66               5                3.412000                 17.06
Saedue76                  4                3.390000                 13.56
Mindimnya67               4                3.185000                 12.74
Haellysu29                3                4.243333                 12.73
Eoda93                    3                3.860000                 11.58

# Most Popular Items

In [62]:
#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

##Note that the below counts were arrived at by factoring an item with the same Item Name but a different Item ID as separate items.

In [72]:
items_purchase_count = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

items_purchased = pd.DataFrame({"Purchase Count":items_purchase_count,
                                   "Item Price":items_average_price,
                                   "Total Purchase Value":items_value_total,})

count_items_purchased_final = items_purchased.sort_values("Purchase Count", ascending=False)
count_items_purchased_final.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
31,Trickster,9,2.07,18.63
175,Woeful Adamantite Claymore,9,1.24,11.16
13,Serenity,9,1.49,13.41

# Most Profitable Items

In [74]:
#Identify the 5 most profitable items by total purchase value, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [75]:
value_items_purchased_final = items_purchased.sort_values("Total Purchase Value", ascending=False)
value_items_purchased_final.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,4.14,37.26
115,Spectral Diamond Doomblade,7,4.25,29.75
32,Orenmir,6,4.95,29.70
103,Singed Scalpel,6,4.87,29.22
107,"Splitter, Foe Of Subtlety",8,3.61,28.88